<form
  class='sign-up-form__form {{#if formClass}}{{formClass}}{{/if}}'
  name={{#if formName}}'{{formName}}'{{else}}'signUp'{{/if}}
>
  <fieldset class='sign-up-form__form-fieldset' name='fieldset'>
    <h2 class='sign-up-form__title'>
      {{#if title}}
        {{title}}
      {{else}}
        Junte-se a nós
      {{/if}}
    </h2>

    {{{ bonusesMarkup }}}

    <div class="sign-up-form__current-step-wrapper js-sign-up-current-step-wrapper">
    </div>

    <div class='sign-up-form__divider'></div>
    <button
      class='app-button app-button--disabled sign-up-form__submit-btn js-submit-btn'
      name='submitBtn'
      type='submit'
      aria-label='Inscrever-se'
    >
      <div class='sign-up-form__submit-loader'>
        {{> svg-icon
          class='sign-up-form__submit-loader-icon sign-up-form__submit-loader-icon--first'
          width='24'
          height='24'
          name='loader-part-1'
        }}
        {{> svg-icon
          class='sign-up-form__submit-loader-icon sign-up-form__submit-loader-icon--second'
          width='24'
          height='24'
          name='loader-part-2'
        }}
        <span>Carregando</span>
      </div>
      <div class='sign-up-form__submit-btn-content'>
        {{#if submitText}}
          {{submitText}}
        {{else}}
          Inscrever-se
        {{/if}}
      </div>
    </button>
  </fieldset>
</form>